.logo {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 8px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  cursor: none;
}