.brand.active {
  display: none;
}

.parentNavigator {
  flex: 1;
}

.parentNavigator.active {
  flex: 0;
}

.navigator.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.parentFormNavigator.active {
  flex-direction: column;
  gap: 0.5rem;
}

.themeToggler.active {
  display: none;
}

.formNavigator.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.toggle {
  right: 5%;
  top: 0%;
  position: absolute;
  z-index: 10;
  height: 100%;
  font-size: 1.2rem;
}

.toggle.active {
  color: black;
  top: 100%;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .togglerParent {
    position: absolute;    
    top: 24px;
    right: 10%;
  }

  .themeToggler {
    /* position: absolute;
    top: 0; */
    transform: translateY(-28%);
    /* right: 15%; */
  }

  .mobileNav {
    height: auto;
    clip-path: circle(40% at 100% 0);
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
  }

  .mobileNav.active {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    clip-path: circle(141.2% at 100% 0);
    background-color: #d3edf3;
  }

  .navigator {
    color: black;
  }

  .formNavigator {
    color: black;
  }
}

@media (max-width : 345px) {
  .togglerParent {
    right: 5%;
  }
}