@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  transform: rotate(-90deg) translate(50%, -100%);
  transform-origin: 100% 0;
  padding: 2.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  width: auto;
  height: 0rem;
  /* left: ; */
}
