@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  overflow: hidden;
}

body {
  overflow: hidden;
  overflow-x: hidden;
  background-color: aqua;
} */

/* @media (min-width: 768px) {
  html {
    overflow: hidden;
  }
  body {
    overflow: hidden;
    overflow-x: hidden;
    background-color: aqua;
  }
} */
.back_image{
  background-image: url("./Images/logoContainer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark_theme {
  clip-path: circle(0% at 80% 0);
  height: 100vh;
  width: 100%;
  z-index: 500;
}

.dark_theme.hover {
  clip-path: circle(127.9% at 80% 0);
  /* position: relative; */
  transition: all 0.5s linear;
}


